#buscar{
    background-color: #094ac1;
    height: 10vh;
    line-height: 1.4;
    top: 0px;
    left: 0px;
    z-index: 1;
    position: fixed;
    width: 100%;
    display: none;
    max-height: 10vh;
}
#buscar input{
    top: 3vh;
    left: 5px;
    width: 60%;
    height: 5vh;
    margin-left: 7.5%;
    z-index: 1511;
    position: absolute;
}
#buscar img{
  width:26px;
  top:25px;
  right: 55px;
  z-index: 151;
  position: fixed;
}

#btnBusca{
  width:26px;
  top:25px;
  right: 55px;
  z-index: 1520;
  position: fixed;

}
@media screen and (min-width: 1000px) {
  #btnBusca{
    width:26px;
    top:25px;
    right: 15px;
    z-index: 150;
    position: fixed;

  }
}
